@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-fugo: #a855f7; /* purple-500 */
  --color-fugo-dark: #1e1b4b; /* indigo-950 */
  --color-fugo-muted: #64748b;
  --color-fugo-zinc: #f8fafc;
  --color-fugo-success: #10b981;
  --color-fugo-accent: #d946ef; /* fuchsia-500 */
}

@layer base {
  body {
    @apply font-sans antialiased bg-fugo text-fugo-dark selection:bg-fugo-dark selection:text-fugo;
  }
}

